<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临！</title>
</head>
<body>
    欢迎光临，今天是{{ var }}。<br/>         <!--渲染普通变量-->
    今天值班的有：<br/>
    {% for data in list %}     <!--用大括号括起来是控制结构，仅是用来表示特定的符号，不是python语言，其他还有if语句等-->
        <li> {{ data }} </li>
    {% endfor %}
    任务：<br/>     <!--打印表格及迭代-->
        <table border = "1">
            {% for key, value in task.items() %}   <!--task.items()把字典变为[(key, value),(key, value),······]-->
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>